<h1><%= @post.title %></h1>
<p><%= @post.text %></p>
<% if @post.post_photo? %>
  <%= image_tag @post.post_photo.url, class: "post-image" %>
<% end %>



<div class="heart-btn">
  <div class="content">
    <span class="heart"></span>
    <span class="text">Like</span>
    <span class="numb"></span>
  </div>
</div>




<div id="comments">
  <% if @post.comments %>
    <% @post.comments.order(created_at: :asc).each do |comment| %>
    <p><strong><%= comment.user.email %></strong>: <%= comment.text %></p>
    <% end %>
  <% end %>
</div>
<h3>Add a Comment</h3>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <%= form.text_area :text, placeholder: "Enter your comment..." %><br>
  <%= form.submit "Submit Comment" %>
<% end %>


<script>
  $(document).ready(function(){
    $('.content').click(function(){
      $('.content').toggleClass("heart-active")
      $('.text').toggleClass("heart-active")
      $('.numb').toggleClass("heart-active")
      $('.heart').toggleClass("heart-active")
    });
  });
</script>
<%# <%= javascript_include_tag "post_show" %>
